    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/feeds']">Noticiómetro</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <!-- Page Content -->
    <body>
      
    
    <div class="container">
  
      <div class="row">
        <div class="col-md-8">

          <h1 class="my-4">Un portal - Todas las noticias
          </h1>
  
          <app-feed-card *ngFor="let feed of feeds | filter:filtro |  tendencia:array | fechaOrd: orden" [feed]="feed" [showTitle]="tituloVisible" [showImage]="imageVisible" [showDescription]="descripcionVisible" [showDatos]="datosVisible"></app-feed-card>
        
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
  
          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Filtrar por título</h5>
            <div class="card-body">
              <div class="input-group">
                <!-- <input type="text" class="form-control" placeholder="Search for..."> -->
                <input type="text" class="form-control" id="filtro" [(ngModel)]="filtro" [ngModelOptions]="{standalone: true}" placeholder="Filtro de búsqueda">
              </div>
            </div>
          </div>
  
          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Fuentes</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <ul class="list-unstyled mb-0">
                    <li *ngFor="let kk of feedUrlKeys">
                      <a href="#" (click)="getRSS(feedUrl[kk][0])">{{kk}}</a>
                      <input type="checkbox" *ngIf="feedUrl[kk][1] == 0" class="form-check-input" id="{{kk}}" (change)="updateRSS($event, kk)">
                      <input type="checkbox" *ngIf="feedUrl[kk][1] == 1" checked class="form-check-input" id="{{kk}}" (change)="updateRSS($event, kk)">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
  
          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Campos que no desee ver </h5>
            <div class="card-body">
              <li>
                <a>Titulo</a>
                <input type="checkbox" class="form-check-input" [value]="tituloVisible" (click)="mostrarTitulo()">
              </li>
              <li>
                  <a>Imagen</a>
                  <input type="checkbox" class="form-check-input" [value]="imageVisible" (click)="mostrarImagen()">
              </li>
              <li>
                  <a>Descripcion</a>
                  <input type="checkbox" class="form-check-input" [value]="descripcionVisible" (click)="mostrarDescripcion()">
              </li>
              <li>
                  <a>Datos</a>
                  <input type="checkbox" class="form-check-input" [value]="datosVisible" (click)="mostrarDatos()">
              </li>

            </div>
          </div>
          <div class="card my-4">
            <h5 class="card-header">Connotación</h5>
            <div class="card-body">
              <li>
                  <label>
                      <input type="checkbox" class="form-check-input" name="tendencia" [value]="fav" (click)="mostrarFavorables()">Favorable
                  </label>
                
              </li>
              <li>
                  <label>
                      <input type="checkbox" class="form-check-input" name="tendencia" [value]="desfav" (click)="mostrarDesfavorables()">Desfavorable
                  </label>
                  
              </li>
              
            </div>
          </div>
          <div class="card my-4">
            <h5 class="card-header">Orden</h5>
            <div class="card-body">
              <li>
                
                <label>
                    <input type="radio" name="orden" [value]="ascendente" (click)="mostrarOrdAsc()"> Ordenar fecha ascendente
                </label>
              </li>
              <li>
                  <label>
                      <input type="radio" name="orden" [value]="descendente" (click)="mostrarOrdDesc()"> Ordenar fecha descendente
                  </label>
                  
              </li>
             
            
            </div>
          </div>
          <div class="card my-4">
            <h5 class="card-header">Agregar rss</h5>
            <div class="card-body">
              <div class="input-group">
                  <!-- <input type="text" class="form-control" placeholder="Search for..."> -->
                  <br>
                  <a>Nombre rss</a>
                  <input type="text" class="form-control" id="nombre" [(ngModel)]="nombreRSS" >
                  <!-- <input type="text" class="form-control" placeholder="Search for..."> -->
                  <a>URL rss</a>
                  <input type="text" class="form-control" id="url" [(ngModel)]="urlRSS" >
               
                
                  <!-- <input type="text" class="form-control" placeholder="Search for..."> -->
                  <button type="button" class="btn btn-primary"  class="form-control"  (click)="agregarRSS()" >Guardar</button>
                
              </div>
            </div>
          </div>
        </div>
  
      </div>
      <!-- /.row -->
  
    </div>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyAjmDJhhJmyudAto4hmi9uFKIuoGeXoV-M",
    authDomain: "noticion-7549e.firebaseapp.com",
    databaseURL: "https://noticion-7549e.firebaseio.com",
    projectId: "noticion-7549e",
    storageBucket: "",
    messagingSenderId: "764676163897",
    appId: "1:764676163897:web:ca21f2610e54ec4d"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>
  </body>
    <!-- /.container -->
  
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
      </div>
      <!-- /.container -->
    </footer>
  

